.sidebar > .logo-container {
    height: 10%;
    background-color: #2a2927;
    display: flex;
    align-items: center;
}

.sidebar > .logo-container > #bar-icon {
    width: 60px;
}

.sidebar > .logo-container > #logo {
    width: 30%;
}
