* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #3A3732;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    width: 60%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3A3732;
    background-color: #262522;
    border: 2px solid #FFB71A;
    border-radius: 10px;
}


.container input
{
    width: 60%;
    height: 60px;
    /* padding: 10px; */
    margin: 10px;
    /* border-radius: 5px; */
    border: none;
    background-color: #3C3937;
    color: #3A3732;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}

.container input::placeholder
{
    color: #a6a5a4;
    font-size: x-large;
    font-weight: bold;
    text-align: start;
    padding-left: 20px;

}

.container button
{
    width: 60%;
    height: 60px;
    margin: 10px;
    border: none;
    background-color: #FFB71A;
    color: #8a8377;
    font-size: xx-large;
    font-weight: bold;
    border-radius: 10px;
}

.container button:hover
{
    background-color: #8a8377;
    color: #FFB71A;
}

.container .forgetpass
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
