@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background: rgba(31, 30, 28, 1);
    margin: 50px;
    padding: 5px;
    width: 700px;
    height: 500px;
}

.body-container > .column-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 650px;
    height: 40px;
    padding: 10px;
    gap: 30px;
}

.column-container > .Games {
    display: flex;
    font-size: medium;
    justify-content: center;
    width: 250px;
    font-family: 'Alfa Slab One', sans-serif;
    color: rgb(105, 105, 105);
}

.column-container > .Results, .Accuracy, .Goals, .Date {
    font-family: 'Alfa Slab One', sans-serif;
    font-size: medium;
    color: rgb(105, 105, 105);
}

.body-container > .content-container {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 800px;
    gap: 20px;
}

.content-container > .stats-container {
    display: flex;
    flex-direction: row;
    border: 2px solid #624c0f;
    border-radius: 25px;
    width: 650px;
    height: 80px;
    gap: 5px
}

.stats-container > .games-container {
    display: flex;
    flex-direction: row;
    width: 245px;;
    height: 80px;
}

.games-container > .games-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 500px;
    height: 80px;
}

.games-icon > .games-image-local {
    background-image: url('../icons/local.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 30px;
}

.games-icon > .games-image-local:hover {
    background-image: url('../icons/local-hover.svg');
}

.games-icon > .games-image-bot {
    background-image: url('../icons/bot.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 30px;
}

.games-icon > .games-image-bot:hover {
    background-image: url('../icons/bot-hover.svg');
} 

.games-icon > .games-image-online {
    background-image: url('../icons/online.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 30px;
}

.games-icon > .games-image-online:hover {
    background-image: url('../icons/online-hover.svg');
}

.games-icon > .games-text {
    font-family: 'Alfa Slab One', sans-serif;
    color: #bb8c08;
    font-size: small;
}

.games-container > .games-users {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 650px;
    height: 80px;
    /* border: 1px solid #bd2a10; */
}

.games-users > .f-user {
    display: flex;
    flex-direction: row;
}

.f-user > .first-user-text {
    color: #696969;
}

.f-user > .arrow_1 {
    background-image: url('../icons/arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
}

.games-users > .sec-user {
    display: flex;
    flex-direction: row;
}

.sec-user > .second-user-text {
    color: #696969;
}

.sec-user > .arrow_2 {
    background-image: url('../icons/arrow2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
}

.stats-container > .Results-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 1px solid #bd2a10; */
    width: 115px;
    height: 80px;
}

.Results-container > .res-num {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 50px;
    height: 80px;
}

.Results-container > .res-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20px;
    height: 80px;
}

.res-icon > .res-image-plus {
    background-image: url('../icons/square-plus.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
}

.res-icon > .res-image-minus {
    background-image: url('../icons/square-minus.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
}

.res-icon > .res-image-equal {
    background-image: url('../icons/square-equal.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
}

.res-num > .f-user-score, .sec-user-score {
    color: #bb8c08;
}

.stats-container > .Accuracy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 80px;
}

.Accuracy-container > .f-user-accuracy, .sec-user-accuracy {
    color: rgb(105, 105, 105);
    font-size: small;
}

.stats-container > .goals-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 90px;
}

.goals-container > .f-user-goal, .sec-user-goal {
    color: #bb8c08;
}

.stats-container > .date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(105, 105, 105);
    font-size: small;
    width: 80px;
}

.history-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 50px;
}

.history-container > .history {
    width: 150px;
    height: 50px;
    font-size: 12px;
    border-radius: 25px;
    background-color: #bb8c08;
    border: none;
    font-family: 'Alfa Slab One', sans-serif;
    color: rgb(45, 44, 42);
    cursor: pointer;
}

/* .popup
{
    position: absolute;
    width: 60%;
    height: 100px;
    background-color: red;
    z-index: 1;
    top: 50%;
    left: 50%;
    translate: transform(-50%, -50%);
} */